 body { 
     font-family: Arial, Helvetica, sans-serif;
 }
      .container {
           text-align: center; margin-top: 40px;
      }
      .controls {
           margin-bottom: 12px;
      }
      #slider {
           width: 300px;
      }
      #logo {
           display: block; margin: 0 auto; cursor: pointer;
      }
